OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GOOGLE_API_KEY=""

GOOGLE_EMBEDDING_MODEL="models/gemini-embedding-001"

GOOGLE_CHAT_MODEL="gemini-3.5-flash-lite"

HUGGINGFACEHUB_API_TOKEN=

HUGGINGFACE_MODEL_REPO="Qwen/Qwen2.5-7B-Instruct"
HUGGINGFACE_EMBEDDING_MODEL_REPO="nomic-ai/nomic-embed-text-v1.5"


OPENAI_LLM_MODEL=""

CHAT_OPENAI_API=""
CHAT_MODEL_OPENAI_MODEL=""


ANTHROPIC_CHATMODEL=""


GOOGLE_GEN_MODEL=""